.card-header {
  font-size: 1.75rem;
}

/* Style the Image Used to Trigger the Modal */
img.help {
  max-width: 100%;
  max-height: 20rem !important;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 0.75rem;
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}

.grid {
  max-height: 20rem !important;
  margin-bottom: 1rem;
}

.grid img.help {
  max-width: 100% !important;
  max-height: 100% !important;
}

img.help:hover {
  opacity: 0.6;
}

dt {
  font-size: 1.05em;
}

.text-img {
  vertical-align: baseline;
  height: 1em;
}

.text-btn-img {
  vertical-align: baseline;
  height: 1.5em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 75%;
  max-height: 85%;
  height: auto;
  width: auto;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #modal-caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (min-width: 1201px) and (max-width: 1600px){  
  .modal-content {
    max-width: 80%;
  }  
}

/* 90% de ancho en md y lg */
@media only screen and (min-width: 768px) and (max-width: 1200px){
  .modal-content {
    max-width: 90%;
  }
}

/* 100% de ancho en xs y sm */
@media only screen and (max-width: 767px){
  .modal-content {
    max-width: 100%;
  }
}
